---
---

:root {
  --primary-color: #16403f;
  --accent-color: #ffbe40;
  --light-color: #ffffff;
  --dark-color: #111111;
}

* {
  font-family: 'Work Sans', sans-serif;
  user-select: none;
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-accent {
  color: var(--accent-color) !important;
}

.text-light {
  color: var(--light-color) !important;
}

.text-dark {
  color: var(--dark-color) !important;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-accent {
  background-color: var(--accent-color) !important;
}
